*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.navbar-brand {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-size: 25px !important;
}


img {
    height: 40em;
    display: block;
 margin: 0px auto;
    
}

.card-img-top {
    width: 350px !important;
    height: 350px !important;
    
}

.card {
    padding: 15px !important;
    text-align: center !important;
}

.ser {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introduccion {
    font-weight: bold;
    padding: 10px;
    
}
.mb-3 {
    padding: 5px !important;
}

